.App {
  padding: 1.2rem 1.5rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2.5rem;
  min-height: 100%;
}

.App-torso {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-torso {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 8vh;
  margin-bottom: -10vh;
}

.App-link {
  color: #61dafb;
}

.tab_typeL {
  margin:15px -20px 0;
}

.tab_typeL .tabList{
  position: fixed;
  left: 0;
  width: 100%;
  margin-bottom:0;
  background-color: #fff;
  z-index:9;
}

.tab_typeL .tabList li{
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.tab_typeL .tabList li.on{
  border-bottom: 2px solid #507aff;
  color: #026bee;
  font-weight: 500;
}

.tab_typeL .tabList button{
  height:36px;
}

.tab_typeL .tabCont{
  padding:20px 20px 0;
  outline: none;
}

.tabList {
  display: table;
  width: 100%;
  margin-bottom: 20px;
  table-layout: fixed;
}

.tabList > li{
  display: table-cell;
  height: 40px;
  color: #666;
  font-size: 0.875rem;
  text-align: center;
  vertical-align: middle;
}

.mainBody {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
