.App {
  padding: 1.2rem 1.5rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2.5rem;
  min-height: 100%;
}

.App-torso {
  pointer-events: none;
  margin-top:10vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-torso {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mainBody {
  text-align: center;
}

.tab_typeL .tabList{
  position: fixed;
  left: 0;
  width: 100%;
  margin-bottom:0;
  background-color: #fff;
  z-index:9;
  white-space: nowrap;
  display: flex;
  top: 2rem;
}

.tab_typeL .tabList li{
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1.1rem;
}

.tab_typeL .tabList li.on{
  border-bottom: 2px solid #507aff;
  color: #026bee;
  font-weight: 500;
}

.tab_typeL .tabList button{
  height:36px;
}

.tab_typeL .tabCont{
  padding:20px 20px 0;
  outline: none;
}

.tabList {
  display: table;
  width: 100%;
  margin-bottom: 20px;
  table-layout: fixed;
}

.tabList > li{
  display: table-cell;
  height: 40px;
  color: #666;
  font-size: 0.875rem;
  text-align: center;
  vertical-align: middle;
}

.startBtn {
  appearance: none;
  border-radius: 0px;
  font-size: 1.6rem;
  font-weight: 700;
  display: block;
  cursor: pointer;
  padding: 0.7em 2.25em 0.9em;
  min-height: 2.954em;
  width: 100%;
  margin-bottom: 1em;
  background: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
}

.underline {
  text-decoration: underline;
}

.helpMsg {
  display: block;
  margin-top: 2.5rem;
  font-weight: 500;
  color: rgb(96, 96, 96);
  text-align: center;
  width: 100%;
  text-decoration-line: none;
}

.masterTab {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.masterTab .masterList{
  position: fixed;
  width: 100%;
  margin-bottom:0;
  background-color: #fff;
  z-index:9;
  white-space: nowrap;
  display: flex;
  margin-left: -40px;
  top: 150px;
}

.masterTab .masterList li{
  float: left;
  width: 25%;
  padding: 0 5px;
}

.masterTab .masterList li img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.mainFooter {
  position: fixed;
  width: 100%;
  background-color: #fff;
  white-space: nowrap;
  bottom: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
