.App {
  padding: 1.2rem 1.5rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2.5rem;
  min-height: 100%;
}

.App-torso {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-torso {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 8vh;
  margin-bottom: -10vh;
}

.App-link {
  color: #61dafb;
}

.AppBody {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.menuList{
  display: flex;
  position: fixed;
  left: 50%;
  top: 2rem;
  transform: translate(-50%, 0px);  
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  color: rgb(189, 189, 189);
  -webkit-box-align: center;
  user-select: none;
}

.menuList > div {
  display: flex;
  align-items: center;
  margin-right: 3vw;
}

.menuList .active{
  color: rgb(34, 34, 34);
}

.menuList .step {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-right: 2rem;
}

.underline {
  text-decoration: underline;
}

.startBtn {
  appearance: none;
  border-radius: 0px;
  font-size: 1.6rem;
  font-weight: 700;
  display: block;
  cursor: pointer;
  padding: 0.7em 2.25em 0.9em;
  min-height: 2.954em;
  width: 100%;
  margin-bottom: 1em;
  background: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
}

.helpMsg {
  display: block;
  margin-top: 2.5rem;
  font-weight: 500;
  color: rgb(96, 96, 96);
  text-align: center;
  width: 100%;
}

.App h3 {
  padding: 0em 0px calc(8.4rem);
}

.mainDiv {
    pointer-events: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.mainDiv .le-dv {
    left: 1.5rem;
}

.mainDiv .le-dv, .mainDiv .ri-dv {
    position: fixed;
    width: 1px;
    top: 0px;
    height: 100%;
    background: rgb(248, 248, 248);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
