* {
    margin: 0px;
    padding: 0px;
    font-family: acumin-pro, pretendard, "Helvetica Neue LT", "Helvetica Neue", Helvetica, Arial, -apple-system, system-ui, "Noto Sans KR", sans-serif;
    font-style: normal;
    position: relative;
    box-sizing: border-box;
    word-break: keep-all;
    white-space: pre-wrap;
    -webkit-font-smoothing: antialiased;
}

body {
    display: block;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    font-size: 2rem;
    font-weight: 500;
    line-height: 3.2rem;
}

html, body, .mainBody {
    height: calc(var(--vh) * 100);
    overflow-x: hidden;
}
